<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-default" id="navPrincipal">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="images/logo.png" alt="" width="200px">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/admin"><div align="center"><span class="menu-icon fa fa-home fa-2x"></span></div>
            Ir al inicio</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="col-lg-12">
  <h1>Editar parámetros del sitema</h1>
</div>

<div class="col-lg-12">
<md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">

<md-tab label="Mantenimiento Carreras">
<section>
  <md-content layout-padding>
    <div>
      <form name="mantenimientoCarreraForm" id="mantenimientoCarreraForm">
        <h3>Crear carerras</h3>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre de la carrera</label>
            <input ng-model="adminCtrl.nombreCarrera" name="nombreCarrera" required md-maxlength="25" maxlength="25" minlength="5" ng-change="adminCtrl.nombreCarrera = (adminCtrl.nombreCarrera | uppercase)">
            <div ng-messages="mantenimientoCarreraForm.nombreCarrera.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">Debe ingresar un nombre de carrera</div>
            <div ng-message="minlength" class="my-message">El nombre de la carrera debe tener como minimo 5 caracteres.</div>
            </div>
          </md-input-container>
        </div>

        <md-button id="btnIngresar" ng-disabled="!mantenimientoCarreraForm.$valid" class="btn btn-success" aria-label="Agregar Parametro" ng-click="adminCtrl.agregarCarrera()"><span class="menu-icon fa fa-check"></span> Agregar Carerra
          <md-tooltip md-direction="right">Agregar la carrera.</md-tooltip>
        </md-button>

      </form>
    </div>
  </md-content>
</section>

<section>
  <md-content layout-padding>
    <div>
      <form name="editarCarreraForm" id="editarCarreraForm">
        <h3>Editar Carreras</h3>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Carrera</label>
            <md-select ng-model="adminCtrl.carreraSelect" name="carreraSelect" required ng-change="adminCtrl.buscaEditarCarrera()">
              <md-option ng-value="carrera" ng-repeat="carrera in adminCtrl.carrerasList">{{carrera.nombre}}</md-option>
            </md-select>
            <div ng-messages="editarCarreraForm.carreraSelect.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">Debe seleccionar una carrera</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre de la carrera</label>
            <input ng-model="adminCtrl.nombreCarreraEditar" name="nombreCarreraEditar" required md-maxlength="25" maxlength="25" minlength="5" ng-change="adminCtrl.nombreCarreraEditar = (adminCtrl.nombreCarreraEditar | uppercase)">
            <div ng-messages="editarCarreraForm.nombreCarreraEditar.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">Debe ingresar un nombre de carrera</div>
            <div ng-message="minlength" class="my-message">El nombre de la carrera debe tener como minimo 5 caracteres.</div>
            </div>
          </md-input-container>
        </div>

        <md-button id="btnIngresar" ng-disabled="!editarCarreraForm.$valid" class="btn btn-success" aria-label="Editar Parametro" ng-click="adminCtrl.editarCarrera()"><span class="menu-icon fa fa-pencil-square-o"></span> Editar Carrera
          <md-tooltip md-direction="right">Edita la informacion de la carrera.</md-tooltip>
        </md-button>

        <md-button id="btnSalir" ng-disabled="!editarCarreraForm.$valid" class="btn btn-danger" aria-label="Borrar Parametro" ng-click="adminCtrl.borrarCarrera()"><span class="menu-icon fa fa-trash-o"></span> Borrar Carrera
          <md-tooltip md-direction="right">Borra la carrera.</md-tooltip>
        </md-button>

      </form>
    </div>
  </md-content>
</section>

<section class="col-lg-12">
  <md-content layout-padding>
    <div>
      <form name="listaCarrerasForm" id="listaCarrerasForm">
        <h3>Ver Carreras</h3>

        <table id="tblInfo" class="col-lg-offset-1 col-lg-10">
          <thead>
            <tr>
              <th>Id Carrera</th>
              <th>Nombre</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="carrera in adminCtrl.carrerasList">
              <td>{{carrera.idCarrera}}</td>
              <td>{{carrera.nombre}}</td>
            </tr>
          </tbody>
        </table>

      </form>
    </div>
  </md-content>
</section>

</md-tab>

<md-tab label="Mantenimiento industria">
<section>
  <md-content layout-padding>
    <div>
      <form name="crearIndustriaForm" id="crearIndustriaForm">
        <h3>Crear industria</h3>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre de la industria</label>
            <input required ng-model="adminCtrl.nombreIndustria" name="nombreIndustria" required md-maxlength="25" maxlength="25" minlength="5" pattern="^[A-Z]{1}[a-z0-9]{4,}">
            <div ng-messages="crearIndustriaForm.nombreIndustria.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar el nombre de la industria</div>
              <div ng-message="minlength" class="my-message">El nombre de la industria debe tener como minimo 5 caracteres.</div>
              <div ng-message="pattern" class="my-message">El nombre de la carrera no puede iniciar con numeros, minusculas o caracteres especiales.</div>
            </div>
          </md-input-container>
        </div>

        <md-button id="btnIngresar" ng-disabled="!crearIndustriaForm.$valid" class="btn btn-success" aria-label="Agregar Perfil" ng-click="adminCtrl.agregarIndustria()"><span class="menu-icon fa fa-check"></span> Agregar Industria
          <md-tooltip md-direction="right">Agregar la industria.</md-tooltip>
        </md-button>

      </form>
    </div>
  </md-content>
</section>

<section>
  <md-content layout-padding>
    <div>
      <form name="editarIndustriaForm" id="editarIndustriaForm">
      <h3>Editar industria</h3>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Seleccione la industria</label>
            <md-select required ng-model="adminCtrl.industriaEditar" name="industriaEditar" ng-change=adminCtrl.buscaEditarIndustria()>
            <md-option ng-value="industria" ng-repeat="industria in adminCtrl.industriasList">{{industria.nombre}}</md-option>
            </md-select>
            <div ng-messages="editarIndustriaForm.industriaEditar.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe seleccionar una industria
            </div>
            </div>
          </md-input-container>
        </div>
        
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre de la industria</label>
            <input required ng-model="adminCtrl.nombreIndustriaEditar" name="nombreIndustriaEditar" md-maxlength="25" maxlength="25" minlength="5" pattern="^[A-Z]{1}[a-z0-9]{4,}">
            <div ng-messages="editarIndustriaForm.nombreIndustriaEditar.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar el nombre de la industria</div>
              <div ng-message="minlength" class="my-message">El nombre de la industria debe tener como minimo 5 caracteres.</div>
              <div ng-message="pattern" class="my-message">El nombre de la carrera no puede iniciar con numeros, minusculas o caracteres especiales.</div>
            </div>
          </md-input-container>
        </div>

        <md-button id="btnIngresar" ng-disabled="!editarIndustriaForm.$valid" class="btn btn-success" aria-label="Editar Parametro" ng-click="adminCtrl.editarIndustria()"><span class="menu-icon fa fa-pencil-square-o"></span> Editar Industria
          <md-tooltip md-direction="right">Edita la informacion de la industria.</md-tooltip>
        </md-button>

        <md-button id="btnSalir" ng-disabled="!editarIndustriaForm.$valid" class="btn btn-danger" aria-label="Borrar Parametro" ng-click="adminCtrl.borrarIndustria()"><span class="menu-icon fa fa-trash-o"></span> Borrar Industria
          <md-tooltip md-direction="right">Borra la industria.</md-tooltip>
        </md-button>

        <section class="col-lg-12">
          <md-content layout-padding>
            <div>
              <form name="verIndustriasForm" id="verIndustriasForm">
                <h3>Ver Industrias</h3>

                <table id="tblInfo" class="col-lg-offset-1 col-lg-10">
                  <thead>
                    <tr>
                      <th>Id Industria</th>
                      <th>Nombre</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="carrera in adminCtrl.industriasList">
                      <td>{{carrera._id}}</td>
                      <td>{{carrera.nombre}}</td>
                    </tr>
                  </tbody>
                </table>

              </form>
            </div>
          </md-content>
        </section>

      </form>
    </div>
  </md-content>
</section>
</md-tab>

<md-tab label="Asignar profesor encargado">
<section>
  <md-content layout-padding>
    <div>
      <form name="asignarProfesorForm" id="asignarProfesorForm">

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Profesor a asignar</label>
            <md-select required ng-model="adminCtrl.profesorProyecto" name="profesorProyecto">
            <md-option ng-value="profesor" ng-repeat="profesor in adminCtrl.usuarioList | filter:{rol:'Profesor'}">{{profesor.nombre}}</md-option>
            </md-select>
            <div ng-messages="asignarProfesorForm.profesorProyecto.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe seleccionar un profesor
            </div>
            </div>
          </md-input-container>
        </div>
        
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Lista de proyectos</label>
            <md-select required ng-model="adminCtrl.proyectoAsignar" name="proyectoAsignar">
            <md-option ng-value="proyecto" ng-repeat="proyecto in adminCtrl.solicitudList | filter:{profesorEncargado:'No asignado'}">{{proyecto.nombreProyecto}}</md-option>
            </md-select>
            <div ng-messages="asignarProfesorForm.proyectoAsignar.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe seleccionar un proyecto a asignar
            </div>
            </div>
          </md-input-container>
        </div>

        <md-button id="btnIngresar" ng-disabled="!asignarProfesorForm.$valid" class="btn btn-success" aria-label="Asigar Profesor" ng-click="adminCtrl.asignarProfesorProyecto()"><span class="menu-icon fa fa-check"></span> Asignar Profesor
          <md-tooltip md-direction="right">Asignar el profesor al proyecto seleccionado.</md-tooltip>
        </md-button>

        <section class="col-lg-12">
          <md-content layout-padding>
            <div>
            <table id="tblInfo" class="col-lg-offset-1 col-lg-10">
            <h3 align="center">Lista de proyectos sin asignar</h3>
              <thead>
                <tr>
                  <th>Nombre del proyecto</th>
                  <th>Nombre del solicitante</th>
                  <th>Nombre del encargado</th>
                  <th>Profesor encargado</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="solicitud in adminCtrl.solicitudList | filter:{profesorEncargado:'No asignado'}">
                  <td>{{solicitud.nombreProyecto}}</td>
                  <td>{{solicitud.nombreSolicitante}}</td>
                  <td>{{solicitud.nombreEncargado}}</td>
                  <td>{{solicitud.profesorEncargado}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </md-content>
      </section>

      </form>
    </div>
  </md-content>
</section>
</md-tab>


</md-tabs>
</div>