<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-default" id="navPrincipal">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="images/logo.png" alt="" width="200px">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/admin"><div align="center"><span class="menu-icon fa fa-home fa-2x"></span></div>
            Ir al inicio</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="col-lg-12">
  <h1>Visualización de proyectos</h1>
</div>

<div class="col-lg-12">
<md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">

<md-tab label="Visualizar todos los proyectos">
  <section>
  <md-content layout-padding>
    <div>
      <form name="visualizarProyectoForm" id="visualizarProyectoForm">

        <table id="tblInfo" class="col-lg-offset-1 col-lg-10">
          <thead>
            <tr>
              <th>Nombre del proyecto</th>
              <th>Nombre del solicitante</th>
              <th>Nombre del encargado</th>
              <th>Cédula</th>
              <th>Industria</th>
              <th>Objetivos</th>
              <th>Posee capital</th>
              <th>Profesor encargado</th>
              <th>Resumen Ejecutivo</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="solicitud in adminCtrl.solicitudList">
              <td>{{solicitud.nombreProyecto}}</td>
              <td>{{solicitud.nombreSolicitante}}</td>
              <td>{{solicitud.nombreEncargado}}</td>
              <td>{{solicitud.cedula}}</td>
              <td>{{solicitud.industria}}</td>
              <td>{{solicitud.objetivos}}</td>
              <td>{{solicitud.capital}}</td>
              <td>{{solicitud.profesorEncargado}}</td>
              <td><a href="{{solicitud.resumen}}"><input type="button" value="Descargar" class="btn btn-primary"></a></td>
            </tr>
          </tbody>
        </table>

      </form>
    </div>
  </md-content>
</section>
</md-tab>
</md-tabs>
</div>