<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-default" id="navPrincipal">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="images/logo.png" alt="" width="200px">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/admin"><div align="center"><span class="menu-icon fa fa-home fa-2x"></span></div>
            Ir al inicio</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="col-lg-12">
  <h1>Editar parámetros del sitema</h1>
</div>

<div class="col-lg-12">
<md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">

<md-tab label="Mantenimiento Carreras">
<section>
  <md-content layout-padding>
    <div>
      <form name="mantenimientoCarreraForm" id="mantenimientoCarreraForm">
        <h3>Crear carerras</h3>
        <div layout-gt-sm="row">
          <md-input-container class="md-block">
            <label>ID de la carrera</label>
            <input required ng-model="adminCtrl.idCarrera" name="idCarrera" maxlength="3">
            <div ng-messages="mantenimientoCarreraForm.idCarrera.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar un ID</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre de la carrera</label>
            <input ng-model="adminCtrl.nombreCarrera" name="nombreCarrera" required>
            <div ng-messages="mantenimientoCarreraForm.nombreCarrera.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">Debe ingresar un nombre de carrera</div>
            </div>
          </md-input-container>
        </div>

        <md-button class="md-fab md-primary" aria-label="Ingresar carrera" ng-click="adminCtrl.agregarCarrera()">
          <md-icon md-svg-src="vendor/img/icons/check.svg"></md-icon>
          <md-tooltip md-direction="bottom">Ingresar carrera</md-tooltip>
        </md-button>
      </form>
    </div>
  </md-content>
</section>

<section>
  <md-content layout-padding>
    <div>
      <form name="mantenimientoCarreraForm" id="mantenimientoCarreraForm">
        <h3>Editar Carreras</h3>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Carrera</label>
            <md-select ng-model="adminCtrl.carreraSelect" name="carreraSelect" required ng-change="adminCtrl.buscaEditarCarrera()">
              <md-option ng-value="carrera" ng-repeat="carrera in adminCtrl.carrerasList">{{carrera.nombre}}</md-option>
            </md-select>
            <div ng-messages="mantenimientoCarreraForm.carreraSelect.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">Debe seleccionar una carrera</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>ID de la carrera</label>
            <input ng-model="adminCtrl.idCarreraEditar" name="idCarreraEditar" required>
            <div ng-messages="mantenimientoCarreraForm.idCarreraEditar.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">Debe ingresar un ID de carrera</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre de la carrera</label>
            <input ng-model="adminCtrl.nombreCarreraEditar" name="nombreCarreraEditar" required>
            <div ng-messages="mantenimientoCarreraForm.nombreCarreraEditar.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">Debe ingresar un nombre de carrera</div>
            </div>
          </md-input-container>
        </div>

        <md-button class="md-fab md-primary" aria-label="Editar carrera" ng-click="adminCtrl.editarCarrera()">
          <md-icon md-svg-src="vendor/img/icons/ic_border_color_white_24px.svg"></md-icon>
          <md-tooltip md-direction="bottom">Editar carrera</md-tooltip>
        </md-button>

        <md-button class="md-fab md-primary" aria-label="Borrar carrera" ng-click="adminCtrl.borrarCarrera()">
          <md-icon md-svg-src="vendor/img/icons/delete.svg"></md-icon>
          <md-tooltip md-direction="bottom">Borrar carrera</md-tooltip>
        </md-button>

      </form>
    </div>
  </md-content>
</section>
</md-tab>

<md-tab label="Mantenimiento cursos">
  <section>
  <md-content layout-padding>
    <div>
      <form name="mantenimientoCursoForm" id="mantenimientoCursoForm">


        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Carrera</label>
            <md-select required ng-model="adminCtrl.carreraCurso" name="carreraCurso">
            <md-option ng-value="carrera" ng-repeat="carrera in adminCtrl.carrerasList">{{carrera.nombre}}</md-option>
            </md-select>
            <div ng-messages="mantenimientoCursoForm.carreraCurso.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe seleccionar una carrera
            </div>
            </div>
          </md-input-container>
        </div>
        
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre del curso</label>
            <input required ng-model="adminCtrl.nombreCurso" name="nombreCurso">
            <div ng-messages="mantenimientoCursoForm.nombreCurso.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar el nombre del curso</div>
            </div>
          </md-input-container>
        </div>

        <md-button class="md-fab md-primary" aria-label="Agregar curso" ng-click="adminCtrl.agregarCurso()">
          <md-icon md-svg-src="vendor/img/icons/ic_add.svg"></md-icon>
          <md-tooltip md-direction="bottom">Agregar curso</md-tooltip>
        </md-button>

      </form>
    </div>
  </md-content>
</section>
</md-tab>

<md-tab label="Mantenimiento industria">
<section>
  <md-content layout-padding>
    <div>
      <form name="mantenimientoIndustriaForm" id="mantenimientoIndustriaForm">
        <h3>Crear industria</h3>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre de la industria</label>
            <input required ng-model="adminCtrl.nombreIndustria" name="nombreIndustria">
            <div ng-messages="mantenimientoIndustriaForm.nombreIndustria.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar el nombre de la industria</div>
            </div>
          </md-input-container>
        </div>

        <md-button class="md-fab md-primary" aria-label="Agregar Asistente" ng-click="adminCtrl.agregarIndustria()">
          <md-icon md-svg-src="vendor/img/icons/ic_add.svg"></md-icon>
          <md-tooltip md-direction="bottom">Agregar industria</md-tooltip>
        </md-button>

      </form>
    </div>
  </md-content>
</section>

<section>
  <md-content layout-padding>
    <div>
      <form name="mantenimientoIndustriaForm" id="mantenimientoIndustriaForm">
      <h3>Editar industria</h3>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Seleccione la industria</label>
            <md-select required ng-model="adminCtrl.industriaEditar" name="industriaEditar" ng-change=adminCtrl.buscaEditarIndustria()>
            <md-option ng-value="industria" ng-repeat="industria in adminCtrl.industriasList">{{industria.nombre}}</md-option>
            </md-select>
            <div ng-messages="agregarConsejoForm.industriaEditar.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe seleccionar una industria
            </div>
            </div>
          </md-input-container>
        </div>
        
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre de la industria</label>
            <input required ng-model="adminCtrl.nombreIndustriaEditar" name="nombreIndustriaEditar">
            <div ng-messages="mantenimientoIndustriaForm.nombreIndustriaEditar.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar el nombre de la industria</div>
            </div>
          </md-input-container>
        </div>

        <md-button class="md-fab md-primary" aria-label="Editar industria" ng-click="adminCtrl.editarIndustria()">
          <md-icon md-svg-src="vendor/img/icons/ic_border_color_white_24px.svg"></md-icon>
          <md-tooltip md-direction="bottom">Editar industria</md-tooltip>
        </md-button>

        <md-button class="md-fab md-primary" aria-label="Borrar industria" ng-click="adminCtrl.borrarIndustria()">
          <md-icon md-svg-src="vendor/img/icons/delete.svg"></md-icon>
          <md-tooltip md-direction="bottom">Borrar industria</md-tooltip>
        </md-button>

      </form>
    </div>
  </md-content>
</section>
</md-tab>

<md-tab label="Asignar profesor encargado">
<section>
  <md-content layout-padding>
    <div>
      <form name="agregarConsejoForm" id="agregarConsejoForm">

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Profesor</label>
            <md-select required ng-model="adminCtrl.profesorProyecto" name="profesorProyecto">
            <md-option ng-value="profesor" ng-repeat="profesor in adminCtrl.usuarioList | filter:{rol:'Profesor'}">{{profesor.nombre}}</md-option>
            </md-select>
            <div ng-messages="agregarConsejoForm.profesorProyecto.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe seleccionar un profesor
            </div>
            </div>
          </md-input-container>
        </div>
        
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Proyecto</label>
            <md-select required ng-model="adminCtrl.proyectoAsignar" name="proyectoAsignar">
            <md-option ng-value="proyecto" ng-repeat="proyecto in adminCtrl.solicitudList">{{proyecto.nombreProyecto}}</md-option>
            </md-select>
            <div ng-messages="agregarConsejoForm.proyectoAsignar.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe seleccionar un proyecto a asignar
            </div>
            </div>
          </md-input-container>
        </div>

        <md-button class="md-fab md-primary" aria-label="Asignar profesor al proyecto" ng-click="adminCtrl.asignarProfesorProyecto()">
          <md-icon md-svg-src="vendor/img/icons/ic_add.svg"></md-icon>
          <md-tooltip md-direction="bottom">Asignar profesor al proyecto</md-tooltip>
        </md-button>

      </form>
    </div>
  </md-content>
</section>
</md-tab>


</md-tabs>
</div>