<nav class="navbar navbar-default" id="navPrincipal">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="images/logo.png" alt="" width="200px">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" id="navLogin">
        <a href="#home"><li><button class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-log-in"></span>  Cerrar Sesion</button></li></a>  
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="col-lg-3" id="columnaPerfil">
    <form name="sectionPerfil" id="sectionPerfil">
      <h3>Perfil</h3>
      <section ng-repeat="estudiante in estudianteCtrl.usuarioList | filter:{_id: estudianteCtrl.estudianteActivo}">
        {{estudiante.nombre}}
      </section>
      <section ng-repeat="estudiante in estudianteCtrl.usuarioList | filter:{_id: estudianteCtrl.estudianteActivo}">
        {{estudiante.correo}}
      </section>
      <section ng-repeat="estudiante in estudianteCtrl.usuarioList | filter:{_id: estudianteCtrl.estudianteActivo}">
        {{estudiante.cedula}}
      </section>
    </form>
</div>

<div class="col-lg-9">
    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
      <div class="col-lg-12">
        
  <md-tab label="Proyectos">
      <section>
        <md-content>
          <div layout-padding>
            <form name="mantenimientoCarreraForm" id="mantenimientoCarreraForm">
              <h3>Ver proyectos asignados</h3>
                      
              <table id="tblInfo" class="col-lg-offset-1 col-lg-10">
                <thead>
                  <tr>
                    <th>Nombre del proyecto</th>
                    <th>Industria de la empresa</th>
                    <th>Objetivos</th>
                    <th>Profesor encargado</th>
                    <th>Resumen ejecutivo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="proyecto in estudianteCtrl.clientList | filter:{idEstudiante: estudianteCtrl.estudianteActivo}">
                    <td>{{proyecto.nombreProyecto}}</td>
                    <td>{{proyecto.industria}}</td>
                    <td>{{proyecto.objetivos}}</td>
                    <td>{{proyecto.profesorEncargado}}</td>
                    <td><a href="{{proyecto.resumen}}"><input type="button" value="Descargar" class="btn btn-primary"></a></td>
                  </tr>
                </tbody>
              </table>

            </form>
          </div>
        </md-content>
      </section>
</md-tab>
  
<md-tab label="Citas">
  <section>
    <md-content>
      <div layout-padding>
        <form name="mantenimientoCarreraForm" id="mantenimientoCarreraForm">
          <h3>Ver citas a entrevista</h3>
                  
          <table id="tblInfo" class="col-lg-offset-1 col-lg-10">
            <thead>
              <tr>
                <th>Cita con el profesor</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Estado de la cita</th>
                <th>Enviar Respuesta</th>

              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cita in estudianteCtrl.citaList | filter:{idEstudiante: estudianteCtrl.estudianteActivo}">
                <td>{{cita.profesor}}</td>
                <td>{{cita.fecha}}</td>
                <td>{{cita.hora}}</td>
                <td>{{cita.estadoEstudiante}}</td>
                <td><md-button class="btn btn-primary" ng-disabled="cita.estadoEstudiante=='Aceptada'" ng-click="estudianteCtrl.aceptaEntrevista(cita._id)">Aceptar cita</md-button></a></td>
              </tr>
            </tbody>
          </table>

        </form>
      </div>
    </md-content>
  </section>
</md-tab>

<md-tab label="Editar perfil">
<section>
  <md-content layout-padding>
    <div>
      <form name="editarPerfilEstudiante" id="editarPerfilEstudiante">

        <div layout-gt-sm="row">
          <md-input-container class="md-block" ng-repeat="estudiante in estudianteCtrl.usuarioList | filter:{_id: estudianteCtrl.estudianteActivo}">
            <label>Cédula de la persona</label>
            <input disabled ng-model="estudianteCtrl.cedulaPersona" name="cedulaPersona" maxlength="9" ng-value="estudiante.cedula">
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-repeat="estudiante in estudianteCtrl.usuarioList | filter:{_id: estudianteCtrl.estudianteActivo}">
            <label>Nombre Completo</label>
            <input disabled ng-model="estudianteCtrl.nombreEditar" name="nombreEditar" ng-value="estudiante.nombre">
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-repeat="estudiante in estudianteCtrl.usuarioList | filter:{_id: estudianteCtrl.estudianteActivo}">
            <label>Correo</label>
            <input ng-model="estudianteCtrl.correoEditar" name="correoEditar" type="email" pattern="[A-Za-z]+@ucenfotec\.ac\.cr" ng-value="estudiante.correo">
            <div ng-messages="editarPerfilEstudiante.correoEditar.$error" role="alert" multiple>
              <div ng-message="email" class="my-message">El formato del correo electronico no es valido.</div>
              <div ng-message="pattern" class="my-message">Solo se permiten correos de la Universidad Cenfotec.</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-repeat="estudiante in estudianteCtrl.usuarioList | filter:{_id: estudianteCtrl.estudianteActivo}">
            <label>Teléfono</label>
            <input ng-model="estudianteCtrl.numeroTelefonoEditar" name="numeroTelefonoEditar" ype="text" maxlength="8" md-maxlength="8" pattern="^[2|6|7|8]{1}[0-9]{7}" ng-value="estudiante.telefono">
            <div ng-messages="editarPerfilEstudiante.numeroTelefonoEditar.$error" role="alert" multiple>
              <div ng-message="pattern" class="my-message">El formato del numero de telefono no es valido.</div>
            </div>
          </md-input-container>
        </div>

         <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm ng-repeat="estudiante in estudianteCtrl.usuarioList | filter:{_id: estudianteCtrl.estudianteActivo}">
            <label>Dirección</label>
            <input ng-model="estudianteCtrl.direccionEditar" name="direccionEditar" maxlength="50" md-maxlength="100" minlength="15" ng-value="estudiante.direccion">
            <div ng-messages="editarPerfilEstudiante.direccionEditar.$error" role="alert" multiple>
              <div ng-message="minlength" class="my-message">La dirección debe tener como minimo 15 caracteres.</div>
            </div>
          </md-input-container>
        </div>

        <md-button id="btnIngresar" ng-disabled="!editarPerfilEstudiante.$valid" class="btn btn-success" aria-label="Agregar Perfil" ng-click="estudianteCtrl.editarPerfil()"><span class="menu-icon fa fa-pencil-square-o"></span> Editar Usuario
          <md-tooltip md-direction="right">Edita la informacion del usuario.</md-tooltip>
        </md-button>

      </form>
    </div>
  </md-content>
</section>
</md-tab>

</div>
</md-tabs>
</div>




