<nav class="navbar navbar-default" id="navPrincipal">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="images/logo.png" alt="" width="200px">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" id="navLogin">
        <a href="#home"><li><button class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-log-in"></span>  Cerrar Sesion</button></li></a>  
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="col-lg-3" id="columnaPerfil">
    <form name="sectionPerfil" id="sectionPerfil">
      <h3>Perfil</h3>
      <section ng-repeat="estudiante in estudianteCtrl.usuarioList | filter:{_id: estudianteCtrl.estudianteActivo}">
        {{estudiante.nombre}}
      </section>
      <section ng-repeat="estudiante in estudianteCtrl.usuarioList | filter:{_id: estudianteCtrl.estudianteActivo}">
        {{estudiante.correo}}
      </section>
      <section ng-repeat="estudiante in estudianteCtrl.usuarioList | filter:{_id: estudianteCtrl.estudianteActivo}">
        {{estudiante.cedula}}
      </section>
    </form>
</div>

<div class="col-lg-9">
    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
      <div class="col-lg-12">
        
        <md-tab label="Proyectos">
          <section>
            <md-content>
              <div layout-padding>
                <form name="mantenimientoCarreraForm" id="mantenimientoCarreraForm">

            </form>
          </div>
        </md-content>
      </section>
    </md-tab>
  
<md-tab label="Citas">
  <section>
    <md-content>
      <div layout-padding>
        <form name="mantenimientoCarreraForm" id="mantenimientoCarreraForm">
          <h3>Ver citas a entrevista</h3>
                  
          <table id="tblInfo" class="col-lg-offset-1 col-lg-10">
            <thead>
              <tr>
                <th>Cita con el profesor</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Estado de la cita</th>
                <th>Enviar Respuesta</th>

              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="cita in estudianteCtrl.citaList | filter:{idEstudiante: estudianteCtrl.estudianteActivo}">
                <td>{{cita.profesor}}</td>
                <td>{{cita.fecha}}</td>
                <td>{{cita.hora}}</td>
                <td>{{cita.estadoEstudiante}}</td>
                <td><md-button class="btn btn-primary" ng-disabled="cita.estadoEstudiante=='Aceptada'" ng-click="estudianteCtrl.aceptaEntrevista(cita._id)">Aceptar cita</md-button></a></td>
              </tr>
            </tbody>
          </table>

        </form>
      </div>
    </md-content>
  </section>
</md-tab>

      <md-tab label="Reporte de horas">
          <section>
            <md-content>
              <div layout-padding>
                <form name="mantenimientoCarreraForm" id="mantenimientoCarreraForm">
            </form>
          </div>
        </md-content>
      </section>
    </md-tab>

  </div>
</md-tabs>
</div>




