<nav class="navbar navbar-default" id="navPrincipal">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="images/logo.png" alt="" width="200px">
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" id="navLogin">
        
        <li><<a class="navbar-brand" href="#"><img src="images/pngsImgsApp-1-07.png" alt="" width="200px"></a></li>
        <li> <a href="#home"><li><button class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-log-in"></span>  Salir</button></li></a> </li>
        
      </ul>
        
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="col-lg-12">
  <h1 id="sitioAsistente">Sitio de Asistente</h1>
</div>

<div class="col-lg-12">
<md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">

<md-tab label="Crear citas">
  <section>
  <md-content layout-padding>
    <div>
      <form name="crearCitaForm" id="crearCitaForm">

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre del profesor a citar</label>
            <md-select required ng-model="asistenteCtrl.nombreProfesorCita" name="nombreProfesorCita">
            <md-option ng-value="usuario" ng-repeat="usuario in asistenteCtrl.usuariosList | filter:{rol:'Profesor'}">{{usuario.nombre}}</md-option>
            </md-select>
            <div ng-messages="crearCitaForm.nombreProfesorCita.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe seleccionar un profesor encargado para la cita
            </div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre del estudiante a citar</label>
            <md-select required ng-model="asistenteCtrl.nombreEstudianteCita" name="nombreEstudianteCita">
            <md-option ng-value="estudiante" ng-repeat="estudiante in asistenteCtrl.usuariosList | filter:{rol:'Estudiante'}">{{estudiante.nombre}}</md-option>
            </md-select>
            <div ng-messages="crearCitaForm.nombreEstudianteCita.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe seleccionar un estudiante para la cita
            </div>
            </div>
          </md-input-container>
        </div>

      <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Fecha Cita</label>
            <md-datepicker required ng-model="asistenteCtrl.fechaCita" name="fechaCita"></md-datepicker>
            <div ng-messages="solicitudEstudianteForm.fechaCita.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar la fecha de la cita</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Hora de la cita</label>
            <input ng-model="asistenteCtrl.horaCita" name="horaCita" type="time" required>
            <div ng-messages="crearCitaForm.horaCita.$error" role="alert" multiple>
            </div>
          </md-input-container>
        </div>


        <md-button class="md-fab md-primary" aria-label="Crear cita" ng-click="asistenteCtrl.agregarCita()">
          <md-icon md-svg-src="vendor/img/icons/check.svg"></md-icon>
          <md-tooltip md-direction="bottom">Crear cita</md-tooltip>
        </md-button>


      </form>
    </div>
  </md-content>
</section>
</md-tab>

<md-tab label="Agregar comentarios al expediente Cliente">
   <section>
  <md-content layout-padding>
    <div>
      <form name="editarExpedienteClienteForm" id="editarExpedienteClienteForm">

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre del proyecto</label>
            <md-select required ng-model="asistenteCtrl.nombreProyectoExpediente" name="nombreProyectoExpediente" ng-change="asistenteCtrl.buscarClienteExpediente()">
            <md-option ng-value="cliente" ng-repeat="cliente in asistenteCtrl.solicitudList">{{cliente.nombreProyecto}}</md-option>
            </md-select>
            <div ng-messages="editarExpedienteClienteForm.nombreProyectoExpediente.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe seleccionar un cliente
            </div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre del cliente</label>
            <input ng-model="asistenteCtrl.nombreClienteExpediente" name="nombreClienteExpediente" disabled>
            <div ng-messages="editarExpedienteClienteForm.nombreClienteExpediente.$error" role="alert" multiple>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre de la persona encargada</label>
            <input ng-model="asistenteCtrl.nombreEncargadoExpediente" name="nombreEncargadoExpediente" disabled>
            <div ng-messages="editarExpedienteClienteForm.nombreEncargadoExpediente.$error" role="alert" multiple>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Comentarios</label>
            <textarea ng-model="asistenteCtrl.comentarioExpediente" name="comentarioExpediente" ng-maxlength="100"></textarea>
            <div ng-messages="editarExpedienteClienteForm.comentarioExpediente.$error" role="alert" multiple>
            </div>
          </md-input-container>
        </div>

        <md-button class="md-fab md-primary" aria-label="Editar expediente cliente" ng-click="asistenteCtrl.agregarComentarioCliente()">
          <md-icon md-svg-src="vendor/img/icons/check.svg"></md-icon>
          <md-tooltip md-direction="bottom">Agregar comentarios</md-tooltip>
        </md-button>


      </form>
    </div>
  </md-content>
</section>
</md-tab>

<md-tab label="Agregar comentarios al expediente Estudiante">
<section>
  <md-content layout-padding>
    <div>
      <form name="agregarComentarioEstudiante" id="agregarComentarioEstudiante">
        
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Estudiante</label>
            <md-select required ng-model="asistenteCtrl.nombreEstudianteExpediente" name="nombreEstudianteExpediente" ng-change="asistenteCtrl.buscaAgregarComentarioEstudiante()">
            <md-option ng-value="estudiante" ng-repeat="estudiante in asistenteCtrl.usuariosList | filter: {rol:'Estudiante'}">{{estudiante.nombre}}</md-option>
            </md-select>
            <div ng-messages="agregarComentarioEstudiante.nombreEstudianteExpediente.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe seleccionar un estudiante</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Cédula</label>
            <input ng-model="asistenteCtrl.cedulaEstudianteExpediente" name="cedulaEstudianteExpediente"  maxlength=9 disabled>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Correo eletronico</label>
            <input disabled ng-model="asistenteCtrl.correoEstudianteExpediente" name="correoEstudianteExpediente" type="email">
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Teléfono</label>
            <input disabled ng-model="asistenteCtrl.numeroTelefonoEstudianteExpediente" name="numeroTelefonoEstudianteExpediente" maxlength="8">
          </md-input-container>
        </div>

         <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Estado</label>
            <input disabled ng-model="asistenteCtrl.estadoEstudianteExpediente" name="estadoEstudianteExpediente">
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Comentarios</label>
            <textarea required ng-model="asistenteCtrl.comentarioEstudianteExpediente" name="comentarioEstudianteExpediente" maxlength="100"></textarea>
            <div ng-messages="agregarComentarioEstudiante.comentarioEstudianteExpediente.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar un comentario</div>
            </div>
          </md-input-container>
        </div>

        <md-button class="md-fab md-primary" aria-label="Agregar comentarios" ng-click="asistenteCtrl.agregarComentarioEstudiante()">
          <md-icon md-svg-src="vendor/img/icons/ic_add.svg"></md-icon>
          <md-tooltip md-direction="bottom">Agregar comentarios</md-tooltip>
        </md-button>

      </form>
    </div>
  </md-content>
</section>
</md-tab>

<md-tab label="Ver solicitudes de proyecto">
<section>
  <md-content layout-padding>
    <div>
      <form name="tablaSolicitudes" id="tablaSolicitudes">
        <table id="tblInfo" class="col-lg-offset-1 col-lg-10">
          <thead>
            <tr>
              <th>Nombre del proyecto</th>
              <th>Nombre del solicitante</th>
              <th>Nombre del encargado</th>
              <th>Cédula</th>
              <th>Industria</th>
              <th>Objetivos</th>
              <th>Posee capital</th>
              <th>Profesor encargado</th>
              <th>Estado de la solicitud</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="solicitud in asistenteCtrl.solicitudList">
              <td>{{solicitud.nombreProyecto}}</td>
              <td>{{solicitud.nombreSolicitante}}</td>
              <td>{{solicitud.nombreEncargado}}</td>
              <td>{{solicitud.cedula}}</td>
              <td>{{solicitud.industria.nombre}}</td>
              <td>{{solicitud.objetivos}}</td>
              <td>{{solicitud.capital}}</td>
              <td>{{solicitud.profesorEncargado}}</td>
              <td>{{solicitud.estado}}</td>
            </tr>
          </tbody>
        </table>

      </form>
    </div>
  </md-content>
</section>
</md-tab>

</md-tabs>

<div id="cuadradoContacto3">
<div id="sectionContacto2">
  <div class="col-lg-12">
    
    <div class="col-lg-6">
    <h4>Datos de contacto</h4>
    <p><span class="menu-icon fa fa-map-marker"></span>  Santa Marta - San Pedro de Montes Oca, del Cruce de la Escuela de Santa Marta 400 metros noreste carretera al Cristo de Sabanilla, San José, Costa Rica</p>
    <a href="mailto:softwarehouse@ucenfotec.ac.cr"><span class="menu-icon fa fa-envelope-o"></span id="enlaceMailtoUrl">softwarehouse@ucenfotec.ac.cr</a>
    <p><span class="menu-icon fa fa-phone"></span>  +506 2281-1555</p>
    <p id="derechosReservados">Universidad CENFOTEC Derechos Reservados 2017</p>
    </div>
 

    <div class="col-lg-6">
      <div id="masInfo">
    
    <a id="sitioWebElaborado"><span class="menu-icon fa fa-laptop"> Sitio web elaborado por: </span></a><a href="https://www.facebook.com/SoftCandyCR" target="_blank"><img src="images/logoSoft.png" alt="logoSoft" width="15%"></a>
      </div>
    </div>
  </div>
</div>
</div>


</div>








