@font-face{
  font-family: 'Novecento';
  src: url('../vendor/fonts/Novecentowide-Bold.otf');
}

body{
  font-family: 'Poppins', sans-serif;
}

#photoProfesor, #photoAsistente, #photoEditar, #photoConsejo, #file{
  margin-top: 7%;
  height: 40px;
}

#bs-example-navbar-collapse-1, .container-fluid{
    background-color: #292929;
    height: 100px;
    margin-bottom: 0;
}

#navPrincipal{
    margin: 0;
    border:0;
    background-color: #292929;
    font-family: 'Novecento';
}

li{
    padding: 10px;
    /*border-right: 1px #646464 solid;*/
}

#navLogin li{
  padding-top: 20px;
}

#navSocial{
  font-size: 22px;
}

.navbar-default .navbar-nav > li > a {

    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {

    color: #F8D022;
}

.modal-header{
  background-color: #292929;
  color: #fff;
}

.close{
  color: #fff;
}

.close:hover{
  color: #F8D022;
}

#btnIngresar:not([disabled]):hover, #btnIngresar:not([disabled]):hover{
  background-color: #398439;
}

#btnIngresar[disabled]{
  background-color: #fff;
}

#btnIngresar:hover{
  background-color: #398439;
}

#btnSalir:hover{
  background-color: #ac2925;
}

#imgLogin{
  display: block;
  text-align: center;
}

#cuadrado{
  height: 650px;
  background-color: #cecece;
}

#cuadradoContacto{
  height: 650px;
  background-color: #cecece;
}

#sectionNosotros h2, #sectionProceso h2, #sectionContacto h2{
  font-family: 'Novecento';
  margin-bottom: 40px;
  color: #282828;
  margin-top: 100px;
}

#sectionNosotros p, #sectionProceso p, #sectionContacto p{
  text-align: justify;
  color: #282828;
}

#imgNosotros, #imgProceso, #imgContacto{
  padding-left: 0;
  margin-top: 80px;
}

#tblInfo{

    margin-top: 20px;
    margin-bottom: 20px;
}

#tblInfo tr{

  height: 20px;
  margin-bottom: 500px;
}

/* titulo de la tabla */
#tblInfo thead tr{

  background: #499491;
  color: #fff;
  border-bottom: 2px solid #353940;
  font-size: 14px;
}

#tblInfo thead tr th{

  width: 100px;
  text-align: center;
  margin-left: 50px;
  padding: 10px;
}

/* Cada linea de primera */
#tblInfo tbody tr{

    color: #000;
    background-color: #fff;
}
/* cada celda */
#tblInfo tbody tr:nth-child(even){
    
  background: #A3DEC9;
  color: #000;
}

#tblInfo tbody tr td{

  width: 170px;
  text-align: center;
  padding: 1px;
}

#cuadroAdmin{
  margin-top: 70px;
  height: 100%;
  background-color: #fff;
  border: 3px solid #282828;
}

i{
  color: #F8D022;
  margin: 47px;
}

#iconoProyecto{
  margin-left: 75px;
}

a{
   font-family: 'Novecento';
   font-size: 12px;
}

#btnFileStack{
  margin-left: 20px;
}

#divResumen{
  margin: 20px 0; 
}

#columnaPerfil{
  background-color: #cecece;
  height: 640px;
  width: 20%;
}

#sectionPerfil{
  margin-top: 50px;
}

md-content{
  background-color: #fff;
}