<nav class="navbar navbar-default" id="navPrincipal">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="images/logo.png" alt="" width="200px"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Proceso</a></li>
        <li><a href="#">Solicitud</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" data-toggle="modal" data-target="#myModal">Ingresar</a></li>
        <li><a href="#">Registrarse</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div>

</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Iniciar Sesión</h4>
      </div>
      <div class="modal-body">
          <md-content layout-padding>
    <div>
      <form name="estudianteForm">

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Correo electronico</label>
            <input required ng-model="estudianteCtrl.correoEstudiante" name="correoElectronico">
            <div ng-messages="estudianteForm.correoElectrico.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar un correo electronico</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Contraseña</label>
            <input type= "password" required ng-model="estudianteCtrl.contrasena" name="contrasena" type="password">
            <div ng-messages="estudianteForm.contrasena.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar una contraseña</div>
            </div>
          </md-input-container>
        </div>
      </form>
    </div>
  </md-content>
      </div>
      <div class="modal-footer">
      <md-button class="md-fab md-primary" aria-label="Ingresar" ng-click="estudianteCtrl.login()">
          <md-icon md-svg-src="vendor/img/icons/ic_check_white_24px.svg"></md-icon>
          <md-tooltip md-direction="right">Ingresar</md-tooltip>
        </md-button>
      </div>
    </div>

  </div>
</div>


<div class="col-lg-12 text-center">
  <h1>¡Bienvenido!</h1>
</div>

<div class="col-lg-12 text-center" ng-repeat="estudiante in estudianteCtrl.ListEstudiantes | filter:{rol: 'Estudiante'}">
   <h3>{{estudiante.nombre}}</h3>
</div>


<div class="col-lg-12">
<md-tabs>
  <md-tab label="Perfil" >
      <form name="tablaSolicitudes" id="tablaSolicitudes">
        <table id="tblInfo" class="col-lg-offset-1 col-lg-10">
          <thead>
            <tr>
              <th>Nombre del estudiante</th>
              <th>Numero de cédula</th>
              <th>Fecha de Nacimiento</th>
              <th>Correo Electronico</th>
              <th>Dirección</th>
              <th>Número de teléfono</th>
              <th>Genero</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="estudiante in estudianteCtrl.ListEstudiantes | filter: {rol:'Estudiante'}">
              <td>{{estudiante.nombre}}</td>
              <td>{{estudiante.cedula}}</td>
              <td>{{estudiante.fechaNacimiento}}</td>
              <td>{{estudiante.correo}}</td>
              <td>{{estudiante.direccion}}</td>
              <td>{{estudiante.telefono}}</td>
              <td>{{estudiante.genero}}</td>
            </tr>
          </tbody>
        </table>

      </form>
    </md-tab>
  </md-tabs>
</div>




