<nav class="navbar navbar-default" id="navPrincipal">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="images/logo.png" alt="" width="200px"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Proceso</a></li>
        <li><a href="#">Solicitud</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="" data-toggle="modal" data-target="#myModal">Ingresar</a></li>
        <li><a href="#">Registrarse</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div>

</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Iniciar Sesión</h4>
      </div>
      <div class="modal-body">
          <md-content layout-padding>
    <div>
      <form name="estudianteForm">

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Correo electronico</label>
            <input required ng-model="estudianteCtrl.correoEstudiante" name="correoElectronico">
            <div ng-messages="estudianteForm.correoElectrico.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar un correo electronico</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Contraseña</label>
            <input type= "password" required ng-model="estudianteCtrl.contrasena" name="contrasena" type="password">
            <div ng-messages="estudianteForm.contrasena.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar una contraseña</div>
            </div>
          </md-input-container>
        </div>
      </form>
    </div>
  </md-content>
      </div>
      <div class="modal-footer">
      <md-button class="md-fab md-primary" aria-label="Ingresar" ng-click="estudianteCtrl.login()">
          <md-icon md-svg-src="vendor/img/icons/ic_check_white_24px.svg"></md-icon>
          <md-tooltip md-direction="right">Ingresar</md-tooltip>
        </md-button>
      </div>
    </div>

  </div>
</div>


<div class="col-lg-12 text-center">
  <h1>¡Bienvenido!</h1>
</div>

<div class="col-lg-12 text-center" ng-repeat="estudiante in estudianteCtrl.ListEstudiantes | filter:{rol: 'Estudiante'}">
   <h3>{{estudiante.nombre}}</h3>
</div>


<div class="col-lg-12">
<md-tabs>
  <md-tab label="Perfil" >
      <form name="tablaSolicitudes" id="tablaSolicitudes">
        <table id="tblInfo" class="col-lg-offset-1 col-lg-10">
          <thead>
            <tr>
              <th>Nombre del estudiante</th>
              <th>Numero de cédula</th>
              <th>Fecha de Nacimiento</th>
              <th>Correo Electronico</th>
              <th>Dirección</th>
              <th>Número de teléfono</th>
              <th>Genero</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="estudiante in estudianteCtrl.ListEstudiantes | filter: {rol:'Estudiante'}">
              <td>{{estudiante.nombre}}</td>
              <td>{{estudiante.cedula}}</td>
              <td>{{estudiante.fechaNacimiento}}</td>
              <td>{{estudiante.correo}}</td>
              <td>{{estudiante.direccion}}</td>
              <td>{{estudiante.telefono}}</td>
              <td>{{estudiante.genero}}</td>
            </tr>
          </tbody>
        </table>

      </form>
    </md-tab>

    <md-tab label="Editar perfiles">
  <section>
  <md-content layout-padding>
    <div>
      <form name="editarPerfilesForm" id="editarPerfilesForm">

        <div layout-gt-sm="row">
          <md-input-container class="md-block">
            <label>Cédula de la persona</label>
            <input required ng-model="adminCtrl.cedulaPersonaEditar" name="cedulaPersonaEditar" maxlength="9">
            <div ng-messages="editarPerfilesForm.cedulaPersonaEditar.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar la cedula</div>
            </div>
          </md-input-container>
        <md-button class="md-fab md-mini" aria-label="Buscar persona" ng-click="adminCtrl.buscaEditarPersona()">
          <md-icon md-svg-src="vendor/img/icons/ic_search.svg"></md-icon>
          <md-tooltip md-direction="bottom">Buscar persona</md-tooltip>
        </md-button>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre Completo</label>
            <input ng-model="adminCtrl.nombreEditar" name="nombreEditar">
            <div ng-messages="editarPerfilesForm.nombreEditar.$error" role="alert" multiple>
            <div ng-message="required" class="my-message">Debe ingresar el nombre completo</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Contraseña</label>
            <input required ng-model="adminCtrl.contrasenaEditar" name="contrasenaEditar"  maxlength=10>
            <div ng-messages="agregarConsejoForm.contrasenaEditar.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar la contraseña</div>
            </div>
          </md-input-container>
        </div>

        <md-input-container class="md-block" flex-gt-sm>
            <label>Fecha de nac.</label>
            <md-datepicker ng-model="adminCtrl.fechaNacimientoEditar"></md-datepicker>
        </md-input-container>

         <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Dirección</label>
            <input required ng-model="adminCtrl.direccionEditar" name="direccionEditar">
            <div ng-messages="editarPerfilesForm.direccionEditar.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar la dirección</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Correo</label>
            <input required ng-model="adminCtrl.correoEditar" name="correoEditar" type="email">
            <div ng-messages="editarPerfilesForm.correoEditar.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar el correo electronico</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Teléfono</label>
            <input required ng-model="adminCtrl.numeroTelefonoEditar" name="numeroTelefonoEditar" type="number">
            <div ng-messages="editarPerfilesForm.numeroTelefonoEditar.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar el numero</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Genero</label>
            <md-select required ng-model="adminCtrl.generoEditar" name="generoEditar">
            <md-option value="Femenino">Femenino</md-option>
            <md-option value="Masculino">Masculino</md-option>
            </md-select>
            <div ng-messages="editarPerfilesForm.generoEditar.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe seleccionar un genero
            </div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Rol</label>
            <md-select ng-model="adminCtrl.rolPersonaEditar" name="rolPersonaEditar">
              <md-option value="Administrador">Administrador</md-option>
              <md-option value="Profesor">Profesor</md-option>
              <md-option value="Asistente">Asistente</md-option>
              <md-option value="Estudiante">Estudiante</md-option>
              <md-option value="Consejo">Consejo</md-option>
            </md-select>
            <div ng-messages="editarPerfilesForm.rolPersonaEditar.$error" role="alert" multiple>
            </div>
          </md-input-container>
        </div>

        <md-button class="md-fab md-primary" aria-label="Editar persona" ng-click="adminCtrl.editarPerfil()">
          <md-icon md-svg-src="vendor/img/icons/ic_border_color_white_24px.svg"></md-icon>
          <md-tooltip md-direction="bottom">Editar persona</md-tooltip>
        </md-button>
      </form>
    </div>
  </md-content>
</section>
</md-tab>
  </md-tabs>
</div>




