<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-default" id="navPrincipal">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="images/logo.png" alt="" width="200px"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#home#imgServicios"><div align="center"><span class="menu-icon fa fa-server"></span></div>
            Servicios</a></li>
        <li><a href="#home#sectionProceso"><div align="center"><span class="menu-icon fa fa-newspaper-o"></span></div>
            Proceso</a></li>
        <li><a href="#home#sectionSolicitud"><div align="center"><span class="menu-icon fa fa-file-text-o"></span></div>
            Solicitud</a></li>
        <li><a href="#home#sectionContacto"><div align="center"><span class="menu-icon fa fa-envelope-o"></span></div>
            Contacto</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" id="navLogin">
        <li><a href="https://www.facebook.com/Cenfotec" target="_blank"><div align="center"><span class="menu-icon fa fa fa-facebook" id="navSocial"></span></div></a></li>
        <li><a href="https://twitter.com/UCenfotec" target="_blank"><div align="center"><span class="menu-icon fa fa fa-twitter" id="navSocial"></span></div></a></li>
        <li><button class="btn btn-default navbar-btn" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-log-in"></span>  Ingresar</button></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div>
  <img src="images/banner.jpg" alt="" width="100%">
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Iniciar Sesión</h4>
      </div>
      <div class="modal-body">
          <md-content layout-padding>
    <div>
      <form name="loginForm">

    <div id="imgLogin">
      <img src="images/login.png" width="180px" height="180px" alt="imagenLogin">
    </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Correo electronico</label>
            <input required="" ng-model="homeCtrl.correoLogin" type ="email" name="correoLogin" />
            <div ng-messages="loginForm.correoLogin.$error" role="alert">
              <div ng-message="required">Debe ingresar un correo electronico</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Contraseña</label>
            <input type= "password" required ng-model="homeCtrl.contrasenaLogin" name="contrasenaLogin" type="password">
            <div ng-messages="loginForm.contrasenaLogin.$error" role="alert">
              <div ng-message="required">Debe ingresar una contraseña</div>
            </div>
          </md-input-container>

        </div>
      </form>
    </div>
  </md-content>
      </div>
      <div class="modal-footer">
      <md-button id="btnIngresar" ng-disabled="!loginForm.$valid" class="btn btn-success" aria-label="Ingresar" ng-click="homeCtrl.login()" data-dismiss="modal"><span class="menu-icon fa fa-sign-in"></span> INGRESAR</md-button>
      <md-button id="btnSalir" class="btn btn-danger" aria-label="Salir" data-dismiss="modal"><span class="menu-icon fa fa-sign-out"></span> SALIR</md-button>
      </div>
    </div>

  </div>
</div>

<div id="cuadrado">
<div id="sectionNosotros">
  <div class="col-lg-12">
    <img src="images/nosotros.png" width="100%" class="col-lg-6" id="imgNosotros">
    <h2>CENFOTEC SOFTWARE HOUSE</h2>
    <p>Su casa para recibir servicios profesionales en tecnologías de información, de gran calidad, diseñados y construidos por estudiantes y profesores de la Universidad Cenfotec para la comunidad.</p>

    <p> El Cenfotec Software House es un proyecto de emprendimiento académico y profesional dentro de la Universidad Cenfotec, donde los estudiantes de la Universidad brindan servicios a la comunidad, asesorados por profesores expertos en diferentes áreas, con precios muy asequibles.</p>

    <p>El Cenfotec Software House nace como complemento de formación que permita a los estudiantes vivir experiencias de trabajo reales, y con un cliente final, alineado con la metodología de proyectos característica de la Universidad Cenfotec, y para dar atención a las múltiples solicites del desarrollo de proyectos TICs. El Cenfotec Software House brinda a los estudiantes que trabajan en los proyectos, becas como remuneración a su participación.</p>
  </div>
</div>
</div>

<section id="imgServicios">
  <img src="images/servicios.png" alt="imagenServicios" width="100%">
</section>

<div id="cuadrado">
<div id="sectionProceso">
  <div class="col-lg-12">
    <img src="images/proceso.jpg" width="100%" class="col-lg-6" id="imgProceso">
    <div class="col-lg-6">
    <h2>Los interesados en recibir nuestros servicios deben:</h2>
    <p>1. Solicitar el servicio llenando el formulario. Esta solicitud será evaluada por el comité director del Cenfotec Software House.</p>
    <p>2. El Cenfotec Software House concertará una cita entre el solicitante y el equipo de expertos, para analizar la solicitud.</p>
    <p>3. El comité director del Cenfotec Software House estudia la factibilidad técnica, operativa y académica de participar en proyecto.</p>
    <p>4. Si el proyecto es factible, se envía al cliente una oferta económica.</p>
    <p>5. Una vez que el cpente acepta las condiciones, se procede a la firma del contrato y a la conformación del equipo del proyecto, e inicia el proyecto.</p>
    <p>6. Finalmente, el equipo del proyecto entrega, en el tiempo acordado y según lo pactado, el producto final.</p>
    </div>
  </div>
</div>
</div>

<div id="sectionSolicitud">
  <img src="images/solicitud.jpg" alt="" width="100%">
</div>

<div class="col-lg-12">
<h2>Seleccione una opción:</h2>
</div>
<div class="col-lg-12">
<md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
<md-tab label="Solicitud de Proyecto">
<section>
  <md-content layout-padding>
    <div>
      <form name="solicitudForm" id="solicitudForm">

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre del Proyecto</label>
            <input required ng-model="homeCtrl.nombreProyecto" name="nombreProyecto" maxlength="50">
            <div ng-messages="solicitudForm.nombreProyecto.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar un nombre de proyecto</div>
            </div>
          </md-input-container>
        </div>
        
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre completo del solicitante</label>
            <input required ng-model="homeCtrl.nombreCompleto" name="NombreCompleto" maxlength="50">
            <div ng-messages="solicitudForm.nombre.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar el nombre completo</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre de Encargado</label>
            <input required ng-model="homeCtrl.nombreEncargado" name="NombreEncargado" maxlength="50">
            <div ng-messages="solicitudForm.nombreEncargado.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar un el nombre de encargado</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Tipo de céedula</label>
            <md-select required ng-model="homeCtrl.tipoCedula" name="tipoCedula">
              <md-option value="Fisica">Fisica</md-option>
              <md-option value="Juridica">Juridica</md-option>
            </md-select>
            <div ng-messages="solicitudForm.tipoCedula.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe elegir un tipo de cédula
            </div>
            </div>
          </md-input-container>
        </div>


        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Numero de Cédula</label>
            <input required ng-model="homeCtrl.cedula" name="cedula" maxlength="9">
            <div ng-messages="solicitudForm.cedula.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar la cédula</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Seleccione una industria</label>
            <md-select required ng-model="homeCtrl.industria" name="industria">
              <md-option ng-value="industria" ng-repeat="industria in homeCtrl.listaIndustrias">{{industria.nombre}}</md-option>
            </md-select>
            <div ng-messages="solicitudForm.industria.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe seleccionar una clasificación
            </div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Objetivos</label>
            <input required ng-model="homeCtrl.objetivos" name="objetivos">
            <div ng-messages="solicitudForm.objetivos.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar los objetivos</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Capital (Posee fondos económicos)</label>
            <md-select required ng-model="homeCtrl.capital" name="capital">
            <md-option value="Sí">Sí</md-option>
            <md-option value="No">No</md-option></md-select>
            <div ng-messages="solicitudForm.capital.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe seleccionar una opción
            </div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block">
            <label>Adjuntar resumen ejecutivo (.doc, .docx o .pdf)</label>
            <input type="file"  id="file" ng-model="solicitudForm.archivo">
          </md-input-container>
        </div>

        <md-button id="btnIngresar" ng-disabled="!solicitudForm.$valid" class="btn btn-success" aria-label="Ingresar" ng-click="homeCtrl.save()" data-dismiss="modal"><span class="menu-icon fa fa-sign-in"></span> ENVIAR SOLICITUD
        <md-tooltip md-direction="bottom">Enviar Solicitud Cliente</md-tooltip>
        </md-button>


      </form>
    </div>
  </md-content>
</section>
</md-tab>
<md-tab label="Solicitud de ingreso para estudiantes">
  <section>
  <md-content layout-padding>
    <div>
      <form name="solicitudEstudianteForm" id="solicitudEstudianteForm">
        
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre Completo</label>
            <input required ng-model="homeCtrl.nombreCompletoEstudiante" name="nombreCompletoEstudiante" maxlength="50">
            <div ng-messages="solicitudEstudianteForm.nombreCompletoEstudiante.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar un el nombre Completo</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Fecha Nac.</label>
            <md-datepicker required ng-model="homeCtrl.fechaNacimientoEstudiante" name="fechaNacimientoEstudiante"></md-datepicker>
            <div ng-messages="solicitudEstudianteForm.fechaNacimientoEstudiante.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar la fecha de nacimiento</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Cédula</label>
            <input required ng-model="homeCtrl.cedulaEstudiante" name="cedulaEstudiante" maxlength="9">
            <div ng-messages="solicitudEstudianteForm.cedulaEstudiante.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar la cedula</div>
            </div>
          </md-input-container>
        </div>

         <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Dirección</label>
            <input required ng-model="homeCtrl.direccionEstudiante" name="direccionEstudiante" maxlength="50">
            <div ng-messages="solicitudEstudianteForm.direccionEstudiante.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar la dirección</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Correo</label>
            <input required ng-model="homeCtrl.correoSolicitudEstudiante" name="correoSolicitudEstudiante" type="email">
            <div ng-messages="solicitudEstudianteForm.correoSolicitudEstudiante.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar el correo</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Teléfono</label>
            <input required ng-model="homeCtrl.numeroTelefonoEstudiante" name="numeroTelefonoEstudiante" maxlength="8">
            <div ng-messages="solicitudEstudianteForm.numeroTelefonoEstudiante.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar el numero</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Género</label>
            <md-select required ng-model="homeCtrl.generoEstudiante" name="generoEstudiante">
            <md-option value="Femenino">Femenino</md-option>
            <md-option value= "Masculino">Masculino</md-option>
            </md-select>
            <div ng-messages="solicitudEstudianteForm.generoEstudiante.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar el género</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Seleccione una carrera</label>
            <md-select required ng-model="homeCtrl.carreraEstudiante" name="carreraEstudiante">
              <md-option ng-value="carrera" ng-repeat="carrera in homeCtrl.listaCarreras">{{carrera.nombre}}</md-option>
            </md-select>
            <div ng-messages="solicitudEstudianteForm.carreraEstudiante.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe seleccionar una carrera
            </div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Seleccione cursos aprobados</label>
            <md-select required ng-model="homeCtrl.cursosAprobadosEstudiante" name="cursosAprobadosEstudiante">
              <md-option ng-value="curso" ng-repeat="curso in homeCtrl.listaCursos">{{curso.curso}}</md-option>
            </md-select>
          
            <div ng-messages="solicitudEstudianteForm.cursosAprobadosEstudiante.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe seleccionar una carrera
            </div>
            </div>
          </md-input-container>
        </div>


        <div layout-gt-sm="row">
          <md-input-container class="md-block">
            <label>Adjuntar resumen ejecutivo (.doc, .docx o .pdf)</label>
            <input type="file"  id="file" ng-model="homeCtrl.archivo">
          </md-input-container>
        </div>

        <md-button id="btnIngresar" ng-disabled="!solicitudEstudianteForm.$valid" class="btn btn-success" aria-label="Ingresar" ng-click="homeCtrl.saveEstudiante()" data-dismiss="modal"><span class="menu-icon fa fa-sign-in"></span> ENVIAR SOLICITUD
        <md-tooltip md-direction="bottom">Enviar Solicitud Estudiante</md-tooltip>
        </md-button>


      </form>
    </div>
  </md-content>
</section>
</md-tab>
</md-tabs>

<div id="cuadradoContacto">
<div id="sectionContacto">
  <div class="col-lg-12">
    <img src="images/Contacto.png" width="100%" class="col-lg-6" id="imgContacto">
    <div class="col-lg-6">
    <h2>Datos de contacto</h2>
    <p><span class="menu-icon fa fa-map-marker"></span>  Santa Marta - San Pedro de Montes Oca, del Cruce de la Escuela de Santa Marta 400 metros noreste carretera al Cristo de Sabanilla, San José, Costa Rica</p>
    <a href="mailto:softwarehouse@ucenfotec.ac.cr"><span class="menu-icon fa fa-envelope-o"></span>  softwarehouse@ucenfotec.ac.cr</a>
    <p><span class="menu-icon fa fa-phone"></span>  +506 2281-1555</p>
    <p>Universidad CENFOTEC Derechos Reservados 2017</p>
    <p><span class="menu-icon fa fa-laptop"> Sitio web elaborado por: </span></p><a href="https://www.facebook.com/SoftCandyCR" target="_blank"><img src="images/logoSoft.png" alt="logoSoft" width="25%"></a>
    </div>
  </div>
</div>
</div>

</div>