<nav class="navbar navbar-default" id="navPrincipal">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <a class="navbar-brand" href="#"><img src="images/logo.png" alt="" width="200px"></a>
      <a class="navbar-brand" href="#">Mi información</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>

<div class="col-lg-12">

<md-tabs md-dynamic-height md-border-bottom md-selected="">

<md-tab label="Ver Reportes" class="tituloTablaReportesProfesor">
 <section>
  <md-content layout-padding>
    <div>
      <md-tab label="Ver reporte profesor">
<table id="tblInfo" class="col-lg-offset-1 col-lg-10">
  <thead>
    <tr>
      <th>Reporte de proyectos activos</th>
      <th>Reporte de proyectos realizados</th>
      <th>Reporte de involucrados por proyecto</th>
      <th>Reporte de estudiantes activos</th>
      <th>Reporte de elegibles</th>
      <th>Reporte de cada proyecto</th>
      <th>Reporte de rechazados</th>
      <th>Reporte de estudiantes por estados</th>
    </tr>
  </thead>


  <tbody>
    <tr ng-repeat="reporte in reporteCtrl.reporteList">
      <td>{{reporte.proyecto.activo}}</td>
      <td>{{reporte.proyecto.realizado}}</td>
      <td>{{reporte.involucrado.proyecto}}</td>
      <td>{{reporte.estudiante.activo}}</td>
      <td>{{reporte.estudiante.elegible}}</td>
      <td>{{reporte.cada.proyecto}}</td>
      <td>{{reporte.rechazado}}</td>
      <td>{{reporte.estudiante.estado}}</td>
    </tr>
  </tbody>
</table>
</md-tab>
    </div>
  </md-content>
</section>
</md-tab>

<md-tab label="Crear Reportes" class="crearReporteForm">
 <section>
  <md-content layout-padding>


    <div class="col-lg-12">
<h2>¿Deseas crear un reporte?</h2>
</div>
<div class="col-lg-12">
<md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">

  <md-tab label="Reporte de proyectos activos">
  <section>
    <md-content layout-padding>
      <div>
        <form name="reporteTipo" id="reporteTipo">
          
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Nombre Completo</label>
              <input required ng-model="homeCtrl.nombreCompleto" name="NombreCompleto">
              <div ng-messages="reporteTipo.nombre.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Debe ingresar un el nombre Completo</div>
              </div>
            </md-input-container>
          </div>

          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Nombre de Encargado</label>
              <input required ng-model="homeCtrl.nombreEncargado" name="NombreEncargado">
              <div ng-messages="reporteTipo.nombreEncargado.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Debe ingresar un el nombre de encargado</div>
              </div>
            </md-input-container>
          </div>


          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Cédula</label>
              <input required ng-model="homeCtrl.cedula" name="cedula">
              <div ng-messages="reporteTipo.cedula.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Debe ingresar la cédula</div>
              </div>
            </md-input-container>
          </div>

          

          <md-button class="md-fab md-primary" aria-label="Crear Reporte" ng-click="profesorCtrl.save()">
            <md-icon md-svg-src="vendor/img/icons/ic_add.svg"></md-icon>
            <md-tooltip md-direction="bottom">Crear Reporte</md-tooltip>
          </md-button>


        </form>
      </div>
    </md-content>
  </section>
  </md-tab>



  <md-tab label="Reporte de proyectos realizados">
<section>
  <md-content layout-padding>
    <div>
      <form name="reporteTipo" id="reporteTipo">
        
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre Completo</label>
            <input required ng-model="homeCtrl.nombreCompleto" name="NombreCompleto">
            <div ng-messages="reporteTipo.nombre.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar un el nombre Completo</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre de Encargado</label>
            <input required ng-model="homeCtrl.nombreEncargado" name="NombreEncargado">
            <div ng-messages="reporteTipo.nombreEncargado.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar un el nombre de encargado</div>
            </div>
          </md-input-container>
        </div>


        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Cédula</label>
            <input required ng-model="homeCtrl.cedula" name="cedula">
            <div ng-messages="reporteTipo.cedula.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar la cédula</div>
            </div>
          </md-input-container>
        </div>

        

        <md-button class="md-fab md-primary" aria-label="Crear Reporte" ng-click="profesorCtrl.save()">
          <md-icon md-svg-src="vendor/img/icons/ic_add.svg"></md-icon>
          <md-tooltip md-direction="bottom">Crear Reporte</md-tooltip>
        </md-button>


      </form>
    </div>
  </md-content>
</section>
</md-tab>   


<md-tab label="Reporte de involucrados por proyecto">
  <section>
    <md-content layout-padding>
      <div>
        <form name="reporteTipo" id="reporteTipo">
          
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Nombre Completo</label>
              <input required ng-model="homeCtrl.nombreCompleto" name="NombreCompleto">
              <div ng-messages="reporteTipo.nombre.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Debe ingresar un el nombre Completo</div>
              </div>
            </md-input-container>
          </div>

          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Nombre de Encargado</label>
              <input required ng-model="homeCtrl.nombreEncargado" name="NombreEncargado">
              <div ng-messages="reporteTipo.nombreEncargado.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Debe ingresar un el nombre de encargado</div>
              </div>
            </md-input-container>
          </div>


          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Cédula</label>
              <input required ng-model="homeCtrl.cedula" name="cedula">
              <div ng-messages="reporteTipo.cedula.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Debe ingresar la cédula</div>
              </div>
            </md-input-container>
          </div>

          

          <md-button class="md-fab md-primary" aria-label="Crear Reporte" ng-click="profesorCtrl.save()">
            <md-icon md-svg-src="vendor/img/icons/ic_add.svg"></md-icon>
            <md-tooltip md-direction="bottom">Crear Reporte</md-tooltip>
          </md-button>


        </form>
      </div>
    </md-content>
  </section>
  </md-tab>

 <md-tab label="Reporte de estudiantes activos">
  <section>
    <md-content layout-padding>
      <div>
        <form name="reporteTipo" id="reporteTipo">
          
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Nombre Completo</label>
              <input required ng-model="homeCtrl.nombreCompleto" name="NombreCompleto">
              <div ng-messages="reporteTipo.nombre.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Debe ingresar un el nombre Completo</div>
              </div>
            </md-input-container>
          </div>

          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Nombre de Encargado</label>
              <input required ng-model="homeCtrl.nombreEncargado" name="NombreEncargado">
              <div ng-messages="reporteTipo.nombreEncargado.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Debe ingresar un el nombre de encargado</div>
              </div>
            </md-input-container>
          </div>


          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Cédula</label>
              <input required ng-model="homeCtrl.cedula" name="cedula">
              <div ng-messages="reporteTipo.cedula.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Debe ingresar la cédula</div>
              </div>
            </md-input-container>
          </div>

          

          <md-button class="md-fab md-primary" aria-label="Crear Reporte" ng-click="profesorCtrl.save()">
            <md-icon md-svg-src="vendor/img/icons/ic_add.svg"></md-icon>
            <md-tooltip md-direction="bottom">Crear Reporte</md-tooltip>
          </md-button>


        </form>
      </div>
    </md-content>
  </section>
  </md-tab>



  <md-tab label="Reporte de elegibles">
<section>
  <md-content layout-padding>
    <div>
      <form name="reporteTipo" id="reporteTipo">
        
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre Completo</label>
            <input required ng-model="homeCtrl.nombreCompleto" name="NombreCompleto">
            <div ng-messages="reporteTipo.nombre.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar un el nombre Completo</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre de Encargado</label>
            <input required ng-model="homeCtrl.nombreEncargado" name="NombreEncargado">
            <div ng-messages="reporteTipo.nombreEncargado.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar un el nombre de encargado</div>
            </div>
          </md-input-container>
        </div>


        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Cédula</label>
            <input required ng-model="homeCtrl.cedula" name="cedula">
            <div ng-messages="reporteTipo.cedula.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar la cédula</div>
            </div>
          </md-input-container>
        </div>

        

        <md-button class="md-fab md-primary" aria-label="Crear Reporte" ng-click="profesorCtrl.save()">
          <md-icon md-svg-src="vendor/img/icons/ic_add.svg"></md-icon>
          <md-tooltip md-direction="bottom">Crear Reporte</md-tooltip>
        </md-button>


      </form>
    </div>
  </md-content>
</section>
</md-tab>




 <md-tab label="Reporte de cada proyecto">
  <section>
    <md-content layout-padding>
      <div>
        <form name="reporteTipo" id="reporteTipo">
          
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Nombre Completo</label>
              <input required ng-model="homeCtrl.nombreCompleto" name="NombreCompleto">
              <div ng-messages="reporteTipo.nombre.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Debe ingresar un el nombre Completo</div>
              </div>
            </md-input-container>
          </div>

          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Nombre de Encargado</label>
              <input required ng-model="homeCtrl.nombreEncargado" name="NombreEncargado">
              <div ng-messages="reporteTipo.nombreEncargado.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Debe ingresar un el nombre de encargado</div>
              </div>
            </md-input-container>
          </div>


          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Cédula</label>
              <input required ng-model="homeCtrl.cedula" name="cedula">
              <div ng-messages="reporteTipo.cedula.$error" role="alert" multiple>
                <div ng-message="required" class="my-message">Debe ingresar la cédula</div>
              </div>
            </md-input-container>
          </div>

          

          <md-button class="md-fab md-primary" aria-label="Crear Reporte" ng-click="profesorCtrl.save()">
            <md-icon md-svg-src="vendor/img/icons/ic_add.svg"></md-icon>
            <md-tooltip md-direction="bottom">Crear Reporte</md-tooltip>
          </md-button>


        </form>
      </div>
    </md-content>
  </section>
  </md-tab>



  <md-tab label="Reporte de rechazados">
<section>
  <md-content layout-padding>
    <div>
      <form name="reporteTipo" id="reporteTipo">
        
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre Completo</label>
            <input required ng-model="homeCtrl.nombreCompleto" name="NombreCompleto">
            <div ng-messages="reporteTipo.nombre.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar un el nombre Completo</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre de Encargado</label>
            <input required ng-model="homeCtrl.nombreEncargado" name="NombreEncargado">
            <div ng-messages="reporteTipo.nombreEncargado.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar un el nombre de encargado</div>
            </div>
          </md-input-container>
        </div>


        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Cédula</label>
            <input required ng-model="homeCtrl.cedula" name="cedula">
            <div ng-messages="reporteTipo.cedula.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar la cédula</div>
            </div>
          </md-input-container>
        </div>

        

        <md-button class="md-fab md-primary" aria-label="Crear Reporte" ng-click="profesorCtrl.save()">
          <md-icon md-svg-src="vendor/img/icons/ic_add.svg"></md-icon>
          <md-tooltip md-direction="bottom">Crear Reporte</md-tooltip>
        </md-button>


      </form>
    </div>
  </md-content>
</section>
</md-tab>


<md-tab label="Reporte de estudiantes por estados">
<section>
  <md-content layout-padding>
    <div>
      <form name="reporteTipo" id="reporteTipo">
        
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre Completo</label>
            <input required ng-model="homeCtrl.nombreCompleto" name="NombreCompleto">
            <div ng-messages="reporteTipo.nombre.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar un el nombre Completo</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre de Encargado</label>
            <input required ng-model="homeCtrl.nombreEncargado" name="NombreEncargado">
            <div ng-messages="reporteTipo.nombreEncargado.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar un el nombre de encargado</div>
            </div>
          </md-input-container>
        </div>


        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Cédula</label>
            <input required ng-model="homeCtrl.cedula" name="cedula">
            <div ng-messages="reporteTipo.cedula.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe ingresar la cédula</div>
            </div>
          </md-input-container>
        </div>

        

        <md-button class="md-fab md-primary" aria-label="Crear Reporte" ng-click="profesorCtrl.save()">
          <md-icon md-svg-src="vendor/img/icons/ic_add.svg"></md-icon>
          <md-tooltip md-direction="bottom">Crear Reporte</md-tooltip>
        </md-button>


      </form>
    </div>
  </md-content>
</section>
</md-tab>



  </md-content>
</section>
</md-tab>



<md-tab label="Proyectos">
 <section>
  <md-content layout-padding>
    <div>
    
      <md-tab label="Ver proyecto profesor">
<table id="tblInfo" class="col-lg-offset-1 col-lg-10">
  <thead>
    <tr>
      <th>Proyecto</th>
      <th>Estado</th>
      <th>Estudintes asociados</th>
      <th>Profesor responsable</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="proyecto in proyectoCtrl.proyectoList">
      <td>{{proyecto.nombre.proyecto}}</td>
      <td>{{proyecto.estado}}</td>
      <td>{{proyecto.estudiantes.asociados}}</td>
      <td>{{proyecto.profesor.responsable}}</td>
    </tr>
  </tbody>
</table>
</md-tab>

    </div>
  </md-content>
</section> 
</md-tab>

</md-tabs>



</div>




