<nav class="navbar navbar-default" id="navPrincipal">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <a class="navbar-brand" href="#"><img src="images/logo.png" alt="" width="200px"></a>
      <a class="navbar-brand" href="#">Mi información</a>
      <a class="navbar-brand" href="#"><img src="images/pngsImgsApp-1-07.png" alt="" width="200px"></a>
    </div>
  </div><!-- /.container-fluid -->
</nav>


<div class="col-lg-12">

<md-tabs md-dynamic-height md-border-bottom md-selected="">

<md-tab label="Ver solicitudes de proyecto" class="solicitudProyecto">
 <section>
  <md-content layout-padding>
    <div>
      
    </div>
  </md-content>
</section>
</md-tab>

</div>

</md-tabs>
