<nav class="navbar navbar-default" id="navPrincipal">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <a class="navbar-brand" href="#"><img src="images/logo.png" alt="" width="200px"></a>
      <a class="navbar-brand" href="#">Mi información</a>
      <a class="navbar-brand" href="#"><img src="images/pngsImgsApp-1-07.png" alt="" width="200px"></a>
    </div>
  </div><!-- /.container-fluid -->
</nav>


<div class="col-lg-12">

<md-tabs md-dynamic-height md-border-bottom md-selected="">

<md-tab label="Ver solicitudes de proyecto" class="solicitudProyecto">
<section>
  <md-content layout-padding>
    <div>
      <form name="tablaSolicitudes" id="tablaSolicitudes">
        <table id="tblInfo" class="col-lg-offset-1 col-lg-10">
          <thead>
            <tr>
              <th>Nombre del proyecto</th>
              <th>Nombre del solicitante</th>
              <th>Nombre del encargado</th>
              <th>Cédula</th>
              <th>Industria</th>
              <th>Objetivos</th>
              <th>Posee capital</th>
              <th>Profesor encargado</th>
              <th>Estado de la solicitud</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="solicitud in consejoCtrl.solicitudList">
              <td>{{solicitud.nombreProyecto}}</td>
              <td>{{solicitud.nombreSolicitante}}</td>
              <td>{{solicitud.nombreEncargado}}</td>
              <td>{{solicitud.cedula}}</td>
              <td>{{solicitud.industria.nombre}}</td>
              <td>{{solicitud.objetivos}}</td>
              <td>{{solicitud.capital}}</td>
              <td>{{solicitud.profesorEncargado}}</td>
              <td>{{solicitud.estado}}</td>
            </tr>
          </tbody>
        </table>

      </form>
    </div>
  </md-content>
</section>
</md-tab>

</div>

</md-tabs>
