<nav class="navbar navbar-default" id="navPrincipal">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <a class="navbar-brand" href="#"><img src="images/logo.png" alt="" width="200px"></a>
      <a class="navbar-brand" href="#"><img src="images/pngsImgsApp-1-07.png" alt="" width="200px"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/informacionProfesor">Mi información</a></li>
        <li><a href="#/reporteProfesor">Reportes</a></li>
        <li><a href="#/proyectoProfesor">Proyectos</a></li>
        <li><a href="#/expedienteClienteProfesor">Expedientes Cliente</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="col-lg-12">

<md-tabs md-dynamic-height md-border-bottom md-selected="">

<md-tab label="Mi información de perfil">
 <section>
  
    
     <md-content layout-padding>

<span class="md-headline">Profesor</span>
<div ng-repeat="profesor in profesorCtrl.profesoresList | filter:{rol:'Profesor'}">
<span class="md-subhead">{{profesor.nombre}}</span>
</div>

 <span class="md-headline">Cédula</span>
<div ng-repeat="profesor in profesorCtrl.profesoresList | filter:{rol:'Profesor'}">
<span class="md-subhead">{{profesor.cedula}}</span>
</div>
<span class="md-headline">Fecha de nacimiento</span>
<div ng-repeat="profesor in profesorCtrl.profesoresList | filter:{rol:'Profesor'}">
<span class="md-subhead">{{profesor.fechaNacimiento}}</span>
</div>
<span class="md-headline">Dirección</span>
<div ng-repeat="profesor in profesorCtrl.profesoresList | filter:{rol:'Profesor'}">
<span class="md-subhead">{{profesor.direccion}}</span>
</div>

<span class="md-headline">Teléfono</span>
<div ng-repeat="profesor in profesorCtrl.profesoresList | filter:{rol:'Profesor'}">
<span class="md-subhead">{{profesor.telefono}}</span>
</div>


</md-tab>
  </md-content>

   
</section> 
</md-tab>



</md-tabs>



</div>

