<nav class="navbar navbar-default" id="navPrincipal">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      
      <a class="navbar-brand" href="#"><img src="images/logo.png" alt="" width="200px"></a>
      <a class="navbar-brand" href="#"><img src="images/pngsImgsApp-1-07.png" alt="" width="200px"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/informacionProfesor">Mi información</a></li>
        <li><a href="#/reporteProfesor">Reportes</a></li>
        <li><a href="#/proyectoProfesor">Proyectos</a></li>
        <li><a href="#/expedienteClienteProfesor">Expedientes Cliente</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="col-lg-12">

<md-tabs md-dynamic-height md-border-bottom md-selected="">

<md-tab label="Agregar comentarios al expediente Cliente">
   <section>
  <md-content layout-padding>
    <div>
      <form name="editarExpedienteClienteForm" id="editarExpedienteClienteForm">

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre del proyecto</label>
            <md-select required ng-model="profesorCtrl.nombreProyectoExpediente" name="nombreProyectoExpediente" ng-change="profesorCtrl.buscarClienteExpediente()">
            <md-option ng-value="cliente" ng-repeat="cliente in profesorCtrl.solicitudList">{{cliente.nombreProyecto}}</md-option>
            </md-select>
            <div ng-messages="editarExpedienteClienteForm.nombreProyectoExpediente.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">Debe seleccionar un cliente
            </div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre del cliente</label>
            <input ng-model="profesorCtrl.nombreClienteExpediente" name="nombreClienteExpediente" disabled>
            <div ng-messages="editarExpedienteClienteForm.nombreClienteExpediente.$error" role="alert" multiple>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Nombre de la persona encargada</label>
            <input ng-model="profesorCtrl.nombreEncargadoExpediente" name="nombreEncargadoExpediente" disabled>
            <div ng-messages="editarExpedienteClienteForm.nombreEncargadoExpediente.$error" role="alert" multiple>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Comentarios</label>
            <textarea ng-model="profesorCtrl.comentarioExpediente" name="comentarioExpediente" ng-maxlength="100"></textarea>
            <div ng-messages="editarExpedienteClienteForm.comentarioExpediente.$error" role="alert" multiple>
            </div>
          </md-input-container>
        </div>

        <md-button class="md-fab md-primary" aria-label="Editar expediente cliente" ng-click="profesorCtrl.agregarComentarioCliente()">
          <md-icon md-svg-src="vendor/img/icons/check.svg"></md-icon>
          <md-tooltip md-direction="bottom">Agregar comentarios</md-tooltip>
        </md-button>


      </form>
    </div>
  </md-content>
</section>
</md-tab>



</md-tabs>



</div>

